body {
    background-color: #f3a7a799;
    margin: 0;
}

ul, li {
    list-style: none;
}


/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

.section-1 {
    background: #ffffff;
    height: 228px;
    width: 375px;
    margin: 40px 20px 40px 20px;
}

.category-item {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(18/16);
    letter-spacing: -0.04em;
    text-align: left;
    color:#11111199;

    transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;

    white-space: nowrap;
}

.category-item:hover {
    font-family: DM Sans;
    font-weight: 700;
    
    text-transform: uppercase;
    color: #4F2EE8;
    
}

.category-list {
    display:inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 24px;
    border-radius: 3px;
    padding: 0;
    margin: 0;
}


/* ScrollBar styles */

.category-list::-webkit-scrollbar {
    width: 8px;
}


.category-list::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
    border-radius: 12px;
    height: 114px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */






.section-0 {
    display: block;

    width: 315px;
    height: 64px;
    padding: 18px 20px 18px 20px;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px;
    background-color: #ffffff;
}

.section-2 {
    background: #f6ffc3;
    width: 335px;
    height: 352px;
    border-radius: 16px;
    margin: 40px 0px 40px 0px;
}


.section-3 {
    background: #6b6b6b;
    padding: 20px;
    height: 228px;
    width: 375px;
}

